  @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

  :root {
      --color-white: hsl(0, 0%, 100%);
      --color-light-gray: hsl(212, 45%, 89%);
      --color-grayish-blue: hsl(220, 15%, 55%);
      --color-dark-blue: hsl(218, 44%, 22%);
  }

  *,
  *::after,
  *::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Outfit', sans-serif;
      background-color: var(--color-light-gray);
  }

  .card-container {
      width: 375px;
      background-color: var(--color-white);
      margin: 24px auto;
      border-radius: 4%;
      box-shadow: 8px 16px 16px -5px rgba(0, 0, 0, 0.4);
  }

  img {
      width: 100%;
      padding: 16px;
      border-radius: 8%;
  }

  .card-info {
      width: 80%;
      margin: auto;
      padding-bottom: 24px;
  }

  h2 {
      margin-bottom: 16px;
      text-align: center;
  }

  p {
      text-align: center;
      color: var(--color-grayish-blue);
  }